body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.header-page {
  padding: 0;
  border-bottom: 1px #e7e9fc solid;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  padding: 24px 0;
}

.navigation-list li:not(:last-child) {
  margin-right: 40px;
}

.header-list-address {
  display: flex;
  padding: 24px 0;
}

.contact-info-email {
  margin-right: 40px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
  margin-right: 76px;
}

.logo-dec {
  color: #4d5ae5;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.contact-info:hover,
.contact-info:focus {
  color: #404bbf;
}

.header-page-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.header-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  color: #fff;
}

.header-page-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 48px;
  border-radius: 4px;
  border: none;
  padding: 16px 0;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.header-page-button:hover,
.header-page-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-page-list {
  display: flex;
}

.benefits-page-list li {
  width: 264px;
}

.benefits-page-list li:not(:last-child) {
  margin-right: 24px;
}

.benefits-page-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-page-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-page {
  background-color: #f4f4fd;
}

.team-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-page-list {
  display: flex;
}

.team-page-list li {
  background: #fff;
  width: calc((100% - 72px) / 4);
  text-align: center;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-page-list li:not(:last-child) {
  margin-right: 24px;
}

.team-page-list img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.team-page-card {
  padding: 32px 16px;
}

.team-page-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-page-card-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-page-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-page-list li:not(:nth-child(3n)) {
  margin-right: 24px;
}

.portfolio-page-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-page-list img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.portfolio-page-item-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-page-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-page-card-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
  text-decoration: none;
}

.footer-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
